
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

@model ecare.Models.Credentials

<div class="row mt-5 d-flex justify-content-center">
    <div class="col-lg-6 ">
        <h2>Login</h2>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <div class="form-group">
                <label>Username</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control",@type="email", @placeholder = "someone@xyz.com" })
               @Html.ValidationMessage("Email", new { @class="text-danger"})
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "password" })
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-custom text-white" />
            </div>
            <div class="form-group">
                Forgot your password? @Html.ActionLink("Click here", "ForgotPassword", null, new { @class = "btn-link" })

            </div>
        }

    </div>
</div>



