@model ecare.Models.Staff
@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Views/Shared/_HospitalLayoutPage.cshtml";
}

<h2>Create</h2>


<div class="row">

    <div class="col-md-8">
        <h2>Staff</h2>

        @using (Html.BeginForm("Create", "StaffMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>
                        Staff Name
                    </label>
                    @Html.TextBoxFor(model => model.StaffName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>
                        Staff Photo
                    </label>
                    @Html.TextBox("StaffPhoto", "", new { @type = "file" })
                </div>

                <div class="form-group">
                    <label>
                        Hospital Id
                    </label>
                    @Html.TextBoxFor(model => model.HospitalId, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>
                        Employee Code
                    </label>
                    @Html.TextBoxFor(model => model.EmployeeCode, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>
                        Staff Specialization
                    </label>
                    @Html.TextBoxFor(model => model.StaffSpecialization, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>
                        Staff Degree
                    </label>
                    @Html.TextBoxFor(model => model.StaffDegree, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>
                        Designation
                    </label>
                    @Html.TextBoxFor(model => model.Designation, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>
                        Staff Phone
                    </label>
                    @Html.TextBoxFor(model => model.StaffPhone, new { @class = "form-control", @type = "Text" })
                </div>

                <div class="form-group">
                    <label>
                        Staff Email
                    </label>
                    @Html.TextBoxFor(model => model.StaffEmail, new { @class = "form-control", @type = "email" })
                </div>




                <div class="form-group">
                    <label>
                        Staff City
                    </label>
                    @Html.TextBoxFor(model => model.StaffCity, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>
                        Staff State
                    </label>
                    @Html.TextBoxFor(model => model.StaffState, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>
                        Staff Country
                    </label>
                    @Html.TextBoxFor(model => model.StaffCountry, new { @class = "form-control" })
                </div>



                <div class="form-group">
                    <label>Is Staff Active?</label>

                    <div class="custom-checkbox">
                        @Html.EditorFor(model => model.IsActive) Yes

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Entry By </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EntryBy, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>


            <div class="form-group">

                <label>Role Name</label>
                @Html.TextAreaFor(model => model.RoleName, new { @class = "form-control" })
            </div>


            <div class="form-group">

                <label>Staff Address</label>
                @Html.TextAreaFor(model => model.StaffAddress, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-custom " />
                </div>
            </div>

        }

    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
        $(function () {

            swal("Great!", "Staff Successfully added", "success");
        });
    </script>
}
else if (ViewBag.ErrorMessage != null)
{

    <script type="text/javascript">
        $(function () {

            swal("Error", "Sorry, There is problem saving data", "error");
        });
    </script>
}
