<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Hospital | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/assets/css/simple-sidebar.css" rel="stylesheet" />
</head>
<body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-custom text-white border-right  " id="sidebar-wrapper">
                <div class="sidebar-heading">
                    <i class="fa fa-user-md" aria-hidden="true"></i>&nbsp;E-Care
                </div>
                <div class="list-group list-group-flush  ">

                    @Html.ActionLink("Hospital Dashboard", "Index", null, new { @class = "list-group-item list-group-item-action bg-transparent" })

                    @Html.ActionLink("Doctors", "Index", "Doctor", null, new { @class = "list-group-item list-group-item-action bg-transparent" })

                    @Html.ActionLink("Staff", "Index", "Staff", null, new { @class = "list-group-item list-group-item-action bg-transparent" })

                    @Html.ActionLink("Settings", "Settings", null, new { @class = "list-group-item list-group-item-action bg-transparent" })

                </div>


            </div>

            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light bg-custom border-bottom">
                    <button class="btn btn-light btn-sm" id="menu-toggle">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Welcome Admin!</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdown"
                                   role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right"
                                     aria-labelledby="navbarDropdown" id="navbarDropdown">
                                    <a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> My Profile</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>




        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });</script>
    </body>
</html>
